.grid {
  height: 480px;
  /* vertical-align: top; */ /* 解决图片有缝隙问题 */
}
.grid-col1 {
  width: 190px;
  height: 100%;
  background-color: #6e6568;
  color: #fff;
  font-size: 14px; /* 目的是给反斜杠, 让它和字一样大 */
  position: relative;
}
.ad {
  width: 250px;
  height: 480px;
  background-color: pink;
  position: absolute;
  top: 0;
  left: -250px;
}
.ad-r {
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 999;
  width: 0;
  height: 480px;
  background: url(../images/ad-r.jpg);
  transition: all 0.8s;
}
.ad:hover .ad-r{
  width: 990px;
}
.grid-col1 a {
  color: #fff;
  font-size: 14px; /* 目的是给链接文字 */
  margin: 0 3px;
}
.grid-col1 a:hover {
  color: #f10215;
}
.grid-col1 ul {
  padding: 10px 0px;
}
.grid-col1 ul li {
  padding-left: 12px; /* 有hover效果, 不能用margin, 因为padding占内存 */
  height: 29px;
  line-height: 26px;
}
.grid-col1 ul li:hover {
  background-color: #9c9698;
}
/* 中间模块 */
.grid-col2 {
  width: 790px;
  height: 100%;
  margin-left: 10px;
}
/* 中间模块的banner底部分 */
.grid-col2-b div {
  float: left;
  margin-top: 10px;
}
.grid-col2-b div:last-child {
  float: right;
  margin-top: 10px;
}
/* banner头部分以及里面的箭头部分 */
.grid-col2-t {
  position: relative;
}
.arrow-l, .arrow-r {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  background: rgba(0, 0, 0, .3);
  transform: translateY(-50%);
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: rgba(255, 255, 255, .6);
  font-family: Arial;
  font-weight: normal;
}
.arrow-r {
  right: 0;
}
.circle {
  width: 167px;
  height: 20px;
  background: rgba(255, 255, 255, .3);
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  padding-left: 8px;
}
.circle li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin: 4px;
  cursor: pointer;
}
.circle .current {
  background-color: #f10215;
}
/* 右边模块 */
.grid-col3 {
  width: 190px;
  height: 100%;
  background-color: #fff;
}
.login {
  height: 115px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.login-t {
  width: 95px;
  height: 60px;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap; /* 强制一行内显示 */
  overflow: hidden; /* 溢出隐藏 */
  text-overflow: ellipsis; /* 超出部分省略号显示 */
  color: #666;
  padding-left: 60px; /* 使用padding把文字挤过来最右边 */
  position: relative;
}
.login-t a {
  color: #666;
}
.login-t a:hover {
  color: #f10215;
}
.user-info {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/sprite_userinfo@1x.png) no-repeat -70px 0;
}
.user-info img {
  width: 40px;
  margin: 5px;
  border-radius: 50%;
}
.login-b a{
  width: 70px;
  height: 20px;
  border: 2px solid #f10215;
  margin-right: 10px;
  text-align: center;
  color: #f10215;
  padding: 0 5px;
  font-size: 10px;
}
.login-b a:hover {
  background-color: #f10215;
  color: #fff;
}
.news {
  height: 154px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 7px 13px 0;
  box-sizing: border-box;
}
.news-t {
  height: 19px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.news-t a {
  font-size: 14px;
  float: left;
}
.cuxiao {
  width: 38px;
  height: 17px;
  border-right: 1px solid #ccc;
}
.gg {
  margin-left: 15px;
}
.news-t .more {
  float: right;
}
.news-t div {
  height: 2px;
  width: 28px;
  background-color: #f10215;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.news-b {
  font-size: 14px;
  padding-top: 15px;
}
.news-b li {
  height: 23px;
  line-height: 23px;
}
.expand {
  height: 209px;
  background-color: #fff;
  overflow: hidden; /* expand这个宽度继承了下面ul的190宽度, 用溢出隐藏把多余的隐藏掉 */
}
.expand ul {
  width: 195px; /*  父亲ul是190但是里面的li宽度超过了190摆放不开4个li, 此时让ul宽度变大成195 */
}
.expand li {
  width: 47px;
  height: 69px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
.expand li a {
	display: block;
	padding-top: 15px;
	text-align: center;
}
.expand li i {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../images/sprite_fs@1x.png) no-repeat;
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}
.expand li:first-child i {
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}


